<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd">
    <!-- 自动扫描装配 -->
    <context:component-scan base-package="com.wang"/>
    <bean id="calculateModel" class="com.wang.model.CalculateModel">
        <constructor-arg index="0" value="3"/>
        <constructor-arg index="1" value="5"/>
        <!--<property name="y" value="2"/>-->
        <!--<property name="x" value="4"/>-->
    </bean>
    <!--配置数据源-->
    <!--<bean id="dataSource2" class="com.mchange.v2.c3p0.ComboPooledDataSource"-->
          <!--destroy-method="close">-->
        <!--<property name="driverClass" value="com.mysql.jdbc.Driver"/>-->
        <!--<property name="jdbcUrl" value="jdbc:mysql://localhost:3306/demo1"/>-->
        <!--<property name="user" value="root"/>-->
        <!--<property name="password" value=""/>-->
    <!--</bean>-->
    <!--spring security 的登录配置-->
    <!--<bean:beans xmlns="http://www.springframework.org/schema/security"-->
                <!--xmlns:bean="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"-->
                <!--xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd-->
						<!--http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd">-->

        <!--<http pattern="/loginPage" security="none"></http>-->
        <!--<http auto-config="true" use-expressions="true">-->
            <!--<intercept-url pattern="/**" access="hasRole('ROLE_USER')" />-->
            <!--<form-login login-page="/loginPage" />-->
            <!--&lt;!&ndash;关闭CSRF验证&ndash;&gt;-->
            <!--<csrf disabled="true"/>-->
        <!--</http>-->
        <!--<authentication-manager alias="authenticationManager">-->
            <!--<authentication-provider>-->
                <!--<user-service>-->
                    <!--<user authorities="ROLE_USER" name="guest" password="guest" />-->
                <!--</user-service>-->
            <!--</authentication-provider>-->
        <!--</authentication-manager>-->

    <!--</bean:beans>-->
</beans>